.projectsPageWrapper {
    min-height: 100vh;

    // style for container
    & > div {
        height: 100%;
    }

    .projectOutFlexWrapper {
        margin-top: 15px;
        display: flex;

        justify-content: center;
        align-items: center;

        .projectsFlexWrapper {
            height: 80%;

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: flex-start;
        }
    }
}

