.projectsPageWrapper {

    // style for container
    & > div {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .headWrapper {
    }

    .projectsOutFlexWrapper {
        flex-grow: 1;
        margin-top: 15px;
        display: flex;

        justify-content: center;
        align-items: flex-start;

        .projectsFlexWrapper {
            height: 100%;

            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            align-content: flex-start;
        }
    }
}

