@import '/src/definitions';

.secondPage {
  height: 100vh;
  display: flex;
  align-items: center;

  .postWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      width: 70%;
      font-size: 36px;

      &:first-child::before {
        content: '\201D';
        display: block;
        height: 60px;
        overflow: hidden;

        color: $red-color;
        font-size: 200px;
        line-height: 160px;
      }
    }

    .subscription {
      color: $font-darken-color;
      text-align: right;
    }
  }
}



