.homePageWrapper {
    background-color: orange;
    height: 100vh;
}

.shortInf {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.writer {
    font-size: 50px;
}

.smallBlockWrapper {
    display: flex;
}

.smallBlock {
    padding: 0 5px;

    border-left: black solid 4px;
    min-width: 100px;
}