@import '../../../definitions';

.homePageWrapper {

    > div {
        position: relative;
    }

    .myPhoto1 {
        position: absolute;
        //right: 10%;
        right: 0;
        top: 0;
        z-index: 0;
        //background-color: #cf1f1f;
        //box-shadow: inset 0 0 20px 40px $app-background-color;
        //z-index: 1;

        //height: 100vh;
        //width: 35%;
        //background-image: url("../../../assets/images/meFirstPage.png");
        //background-repeat: no-repeat;
        //background-size: contain;

        img {
            height: 100vh;
            //opacity: .5;
        }

        @media screen and (max-width: $width-adaptive-step-four){
            display: none;
        }
    }

    .shortInf {
        height: $page-height;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h3 {
        color: $red-color;
        font-size: 20px;
        font-weight: normal;

        @media screen and (max-width: $width-adaptive-step-four) {
            font-size: 16px;
        }
    }
    .smallBlockWrapper {
        display: flex;
        list-style: none;

        .smallBlock {
            margin-right: 12px;
            padding-left: 7px;

            border-left: $font-darken-color solid 2px;
            min-width: 100px;

            @media screen and (max-width: $width-adaptive-step-four){
                min-width: 70px;
            }

            h4 {
                @media screen and (max-width: $width-adaptive-step-three){
                    font-size: 16px;
                }
                @media screen and (max-width: $width-adaptive-step-four){
                    font-size: 14px;
                }
            }

            p {
                color: $font-darken-color;

                @media screen and (max-width: $width-adaptive-step-four){
                    font-size: 12px;
                }
            }

            .birthdayParagraph {
                color: gold;
            }
        }
    }
}







