@import "/src/definitions";

.skillsWrapper {

  h3 {
    margin-top: 10px;
    text-align: center;
  }

  .skillsFlexWrapper {
    margin-top: 10px;
    min-height: 250px;
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: $width-adaptive-step-one){
      flex-wrap: wrap;

      >div {
        margin-top: 20px;
      }
    }

  }
}