@import '/src/definitions';

.firstPage {
  padding-bottom: 80px;

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .titleWrapper {
  }

  .textInformation {
    display: flex;
    justify-content: center;

    p {
      width: 70%;

      font-size: 22px;
    }
  }

  .skillsWrapper {
    text-align: center;
  }
}



