.aboutMePageWrapper {
    background-color: royalblue;
}

.firstPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border: red solid 1px;
}

.titleWrapper {
}

.textInformation {
    display: flex;
    justify-content: center;
}

.textInformation p {
    width: 70%;

    font-size: 22px;
}


.skillsWrapper {
 text-align: center;
}

.secondPage {
    height: 100vh;
    display: flex;
    align-items: center;

    border: red solid 1px;
}

.postWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.postWrapper p {
    width: 70%;

    font-size: 36px;
}

.subscription {
    text-align: right;
}