/* general */

$page-height: 100vh;
$page-padding-top: 75px;


$title-font-family: "Saira", Helvetica, Arial, sans-serif;
$body-font-family: "Nunito", Helvetica, Arial, sans-serif;

$app-background-color: #171a1d;
$font-color: white;
$font-darken-color: darken($font-color, 50%);
$red-color: #cf1f1f;

$h1-font-size: 50px;
$h2-font-size: 40px;
$h3-font-size: 25px;
$h4-font-size: 20px;