@import "/src/definitions";

.myResumePageWrapper {

    > div {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .resumePartsWrapper {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $width-adaptive-step-three){
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
    }
}



